openapi: 3.1.0
info:
  title: OpenClaw — Aurora Derm Clinical Actions API
  description: |
    API que permite a OpenClaw (Custom GPT) acceder a la historia clínica del
    paciente en tiempo real durante la consulta médica.

    El GPT llama a estos endpoints con el token OAuth del médico autenticado.
    Todos los datos pertenecen a la clínica. ChatGPT no los almacena.

    Uso: este archivo se sube en la sección "Actions" del Custom GPT en ChatGPT.
  version: 1.0.0
  contact:
    name: Aurora Derm — Flow OS
    url: https://pielarmonia.com

servers:
  - url: https://pielarmonia.com/api/openclaw
    description: Producción

security:
  - bearerAuth: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Token JWT obtenido del OAuth de Aurora Derm

  schemas:
    PatientContext:
      type: object
      description: Contexto completo del paciente para alimentar la IA
      properties:
        patient_id:
          type: string
        name:
          type: string
          example: "María García"
        age:
          type: integer
          example: 34
        sex:
          type: string
          enum: [M, F, O]
        phone:
          type: string
          example: "0991234567"
        allergies:
          type: array
          items:
            type: string
          example: ["Penicilina", "Ibuprofeno"]
        medications_active:
          type: array
          items:
            type: object
            properties:
              name: { type: string }
              dose: { type: string }
              since: { type: string }
        diagnoses_history:
          type: array
          items:
            type: object
            properties:
              cie10_code: { type: string }
              cie10_description: { type: string }
              date: { type: string }
              doctor: { type: string }
        last_evolution:
          type: string
          description: Nota de evolución de la última consulta
        last_visit_date:
          type: string
        visit_count:
          type: integer
        photos_available:
          type: boolean
          description: Si tiene fotos clínicas previas en el sistema
        ai_summary:
          type: string
          description: Resumen generado por IA de las últimas 3 consultas

    CIE10Suggestion:
      type: object
      properties:
        code:
          type: string
          example: "L20.0"
        description:
          type: string
          example: "Dermatitis atópica de la cara"
        category:
          type: string
          example: "Dermatitis y eczema"
        confidence:
          type: number
          format: float

    Evolution:
      type: object
      required: [case_id, text]
      properties:
        case_id:
          type: string
        text:
          type: string
          description: Nota de evolución clínica redactada por el médico o generada por la IA
        cie10_code:
          type: string
        cie10_description:
          type: string
        doctor_id:
          type: string

    Prescription:
      type: object
      required: [case_id, medications]
      properties:
        case_id:
          type: string
        medications:
          type: array
          items:
            type: object
            required: [name, dose, frequency, duration]
            properties:
              name:
                type: string
                example: "Hidrocortisona 1%"
              dose:
                type: string
                example: "5g"
              frequency:
                type: string
                example: "2 veces al día"
              duration:
                type: string
                example: "14 días"
              instructions:
                type: string
                example: "Aplicar en área afectada con movimientos circulares"
        notes:
          type: string
          description: Indicaciones adicionales para el paciente

    Certificate:
      type: object
      required: [case_id, type]
      properties:
        case_id:
          type: string
        type:
          type: string
          enum: [reposo_laboral, aptitud_medica, constancia_tratamiento, control_salud]
        rest_days:
          type: integer
          description: Días de reposo (solo para reposo_laboral)
        diagnosis_text:
          type: string
          description: Diagnóstico para el certificado (redactado para el paciente)
        cie10_code:
          type: string
        restrictions:
          type: string
          description: Restricciones o indicaciones específicas
        observations:
          type: string

paths:

  /patient/{patient_id}:
    get:
      operationId: getPatientContext
      summary: Obtener contexto completo del paciente
      description: |
        Carga toda la información relevante del paciente para incluirla en el
        contexto de la consulta con IA. Llamar al inicio de cada consulta.
      parameters:
        - name: patient_id
          in: path
          required: true
          schema:
            type: string
        - name: case_id
          in: query
          required: false
          schema:
            type: string
          description: Si se proporciona, incluye datos del caso activo
      responses:
        '200':
          description: Contexto del paciente
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatientContext'
        '404':
          description: Paciente no encontrado

  /cie10/suggest:
    get:
      operationId: suggestCIE10
      summary: Sugerir códigos CIE-10 basados en descripción clínica
      description: |
        Dado un texto clínico (síntoma, diagnóstico probable), devuelve los
        códigos CIE-10 más relevantes ordenados por probabilidad.
        Útil para que la IA proponga el código correcto al médico.
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
          description: Descripción clínica o diagnóstico probable
          example: "dermatitis atópica cara"
        - name: specialty
          in: query
          required: false
          schema:
            type: string
            default: "dermatology"
      responses:
        '200':
          description: Lista de sugerencias CIE-10
          content:
            application/json:
              schema:
                type: object
                properties:
                  suggestions:
                    type: array
                    items:
                      $ref: '#/components/schemas/CIE10Suggestion'

  /protocol/{cie10_code}:
    get:
      operationId: getTreatmentProtocol
      summary: Obtener protocolo de tratamiento para un diagnóstico CIE-10
      description: |
        Devuelve el protocolo de tratamiento estándar de Aurora Derm para el
        diagnóstico dado. Incluye primera línea, alternativas, y seguimiento.
        El médico puede aceptar, modificar, o ignorar.
      parameters:
        - name: cie10_code
          in: path
          required: true
          schema:
            type: string
          example: "L20.0"
      responses:
        '200':
          description: Protocolo de tratamiento
          content:
            application/json:
              schema:
                type: object
                properties:
                  cie10_code:
                    type: string
                  cie10_description:
                    type: string
                  first_line:
                    type: array
                    items:
                      type: object
                      properties:
                        medication: { type: string }
                        dose: { type: string }
                        duration: { type: string }
                  alternatives:
                    type: array
                    items:
                      type: string
                  follow_up:
                    type: string
                  referral_criteria:
                    type: string
                  patient_instructions:
                    type: string
        '404':
          description: Sin protocolo para este código

  /save/evolution:
    post:
      operationId: saveEvolution
      summary: Guardar nota de evolución clínica en la HCE
      description: |
        Guarda la nota de evolución de la consulta actual en la historia clínica
        electrónica del paciente. El texto puede ser redactado por el médico
        o generado/resumido por la IA con aprobación del médico.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Evolution'
      responses:
        '201':
          description: Evolución guardada
          content:
            application/json:
              schema:
                type: object
                properties:
                  id: { type: string }
                  saved_at: { type: string }

  /save/diagnosis:
    post:
      operationId: saveDiagnosis
      summary: Aplicar diagnóstico CIE-10 al caso activo
      description: |
        Guarda el diagnóstico confirmado en el caso del paciente.
        La IA propone, el médico confirma, este endpoint lo aplica.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [case_id, cie10_code, cie10_description]
              properties:
                case_id: { type: string }
                cie10_code: { type: string }
                cie10_description: { type: string }
                notes: { type: string }
      responses:
        '200':
          description: Diagnóstico aplicado

  /save/prescription:
    post:
      operationId: savePrescription
      summary: Crear receta digital para el paciente
      description: |
        Genera y guarda la receta médica con los medicamentos indicados.
        El sistema verifica interacciones con medicamentos activos del paciente.
        Devuelve URL del PDF generado.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Prescription'
      responses:
        '201':
          description: Receta creada
          content:
            application/json:
              schema:
                type: object
                properties:
                  prescription_id: { type: string }
                  pdf_url: { type: string }
                  whatsapp_url:
                    type: string
                    description: URL para enviar la receta directamente por WhatsApp

  /generate/certificate:
    post:
      operationId: generateCertificate
      summary: Generar certificado médico en PDF
      description: |
        Genera el certificado médico con membrete oficial de Aurora Derm,
        datos del médico (especialidad, registro MSP), folio secuencial,
        y firma digital del doctor. PDF listo para imprimir o enviar.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Certificate'
      responses:
        '201':
          description: Certificado generado
          content:
            application/json:
              schema:
                type: object
                properties:
                  certificate_id: { type: string }
                  folio: { type: string }
                  pdf_url: { type: string }
                  whatsapp_url: { type: string }

  /summarize/session:
    post:
      operationId: summarizeSession
      summary: Generar resumen de cierre de consulta
      description: |
        Al finalizar la consulta, genera automáticamente:
        1. Nota de evolución clínica (para HCE)
        2. Resumen para el paciente en lenguaje simple (para WhatsApp)
        3. Lista de pendientes (estudios, próxima cita)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [case_id, chat_summary]
              properties:
                case_id: { type: string }
                chat_summary:
                  type: string
                  description: Resumen de lo discutido en la sesión de chat
      responses:
        '200':
          description: Resumen generado
          content:
            application/json:
              schema:
                type: object
                properties:
                  evolution_text: { type: string }
                  patient_summary: { type: string }
                  pending_actions:
                    type: array
                    items:
                      type: string

  /check/interactions:
    post:
      operationId: checkDrugInteractions
      summary: Verificar interacciones medicamentosas
      description: |
        Verifica si los medicamentos propuestos tienen interacciones conocidas
        con los medicamentos activos del paciente. Responde con alertas.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [case_id, proposed_medications]
              properties:
                case_id: { type: string }
                proposed_medications:
                  type: array
                  items:
                    type: string
      responses:
        '200':
          description: Resultado de verificación
          content:
            application/json:
              schema:
                type: object
                properties:
                  has_interactions:
                    type: boolean
                  interactions:
                    type: array
                    items:
                      type: object
                      properties:
                        drug_a: { type: string }
                        drug_b: { type: string }
                        severity:
                          type: string
                          enum: [low, medium, high]
                        description: { type: string }

  /chat:
    post:
      operationId: chat
      summary: Conversar con el Copiloto Clínico
      description: |
        Envía un mensaje o historial al AI Router (Tier 1/2/3).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [messages]
              properties:
                messages:
                  type: array
                  items:
                    type: object
                    required: [role, content]
                    properties:
                      role: { type: string, enum: [user, assistant, system] }
                      content: { type: string }
                case_id:
                  type: string
                  description: "ID del caso activo para contexto opcional"
                stream:
                  type: boolean
                  default: false
      responses:
        '200':
          description: Respuesta generada por el router de IA
          content:
            application/json:
              schema:
                type: object
                properties:
                  choices:
                    type: array
                    items:
                      type: object
                      properties:
                        message:
                          type: object
                          properties:
                            role: { type: string }
                            content: { type: string }
                  provider: { type: string }
                  tier: { type: string }

  /router/status:
    get:
      operationId: routerStatus
      summary: Ver estado del AI Router
      description: |
        Verifica qué tiers del AI Router están disponibles (Codex, OpenRouter, Local).
      responses:
        '200':
          description: Health check del sistema de IA
          content:
            application/json:
              schema:
                type: object
                properties:
                  router:
                    type: object
                    additionalProperties: true

  /prescription/{id}:
    get:
      operationId: getPrescriptionPdf
      summary: Descargar PDF de receta
      description: Retorna el archivo binario PDF de la receta.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: format
          in: query
          required: false
          schema:
            type: string
            default: pdf
      responses:
        '200':
          description: Archivo PDF
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '404':
          description: Receta no encontrada

  /certificate/{id}:
    get:
      operationId: getCertificatePdf
      summary: Descargar PDF de certificado
      description: Retorna el archivo binario PDF del certificado médico.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: format
          in: query
          required: false
          schema:
            type: string
            default: pdf
      responses:
        '200':
          description: Archivo PDF
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '404':
          description: Certificado no encontrado
