openapi: 3.1.0
jsonSchemaDialect: https://json-schema.org/draft/2020-12/schema
info:
    title: Piel en Armonía API
    description: |
        API for appointment booking, reviews, and callbacks for Piel en Armonía clinic.

        **Routing Note:**
        This API uses a legacy routing mechanism via the `resource` query parameter.
        All endpoints are accessed via `api.php`.
        Example: The logical resource `/health` is accessed via `GET /api.php?resource=health`.
    version: 2026-02
servers:
    - url: https://pielarmonia.com
      description: Production Server
    - url: http://localhost:8080
      description: Local Development Server

components:
    securitySchemes:
        cookieAuth:
            type: apiKey
            in: cookie
            name: PHPSESSID
        csrfToken:
            type: apiKey
            in: header
            name: X-CSRF-Token

    schemas:
        Appointment:
            type: object
            properties:
                id:
                    type: integer
                    readOnly: true
                service:
                    type: string
                    description: Service identifier (e.g., 'consulta', 'laser')
                doctor:
                    type: string
                    description: Doctor identifier (e.g., 'rosero', 'narvaez')
                date:
                    type: string
                    format: date
                    example: '2023-10-25'
                time:
                    type: string
                    example: '10:00'
                name:
                    type: string
                email:
                    type: string
                    format: email
                phone:
                    type: string
                reason:
                    type: string
                affectedArea:
                    type: string
                evolutionTime:
                    type: string
                privacyConsent:
                    type: boolean
                casePhotoUrls:
                    type: array
                    items:
                        type: string
                    description: Legacy staged uploads. Case photos are moved to private clinical storage after booking.
                status:
                    type: string
                    enum: [confirmed, pending, cancelled, completed, no_show]
                paymentMethod:
                    type: string
                    enum: [card, transfer, cash, unpaid]
                paymentStatus:
                    type: string
                    enum:
                        [
                            paid,
                            pending,
                            pending_cash,
                            pending_transfer_review,
                            failed,
                        ]
                doctorAssigned:
                    type: string
                calendarProvider:
                    type: string
                calendarId:
                    type: string
                calendarEventId:
                    type: string
                slotDurationMin:
                    type: integer
                telemedicineIntakeId:
                    type: integer
                telemedicineChannel:
                    type: string
                    enum: [phone, secure_video]
                telemedicineSuitability:
                    type: string
                    enum: [fit, review_required, unsuitable]
                telemedicineReviewRequired:
                    type: boolean
                telemedicineEscalationRecommendation:
                    type: string
            required:
                - service
                - date
                - time
                - name
                - email
                - phone
                - privacyConsent

        Callback:
            type: object
            properties:
                id:
                    type: integer
                    readOnly: true
                telefono:
                    type: string
                preferencia:
                    type: string
                fecha:
                    type: string
                    format: date-time
                    readOnly: true
                status:
                    type: string
                    enum: [pendiente, contactado]
            required:
                - telefono

        Review:
            type: object
            properties:
                id:
                    type: integer
                    readOnly: true
                name:
                    type: string
                rating:
                    type: integer
                    minimum: 1
                    maximum: 5
                text:
                    type: string
                date:
                    type: string
                    format: date-time
                    readOnly: true
                verified:
                    type: boolean
            required:
                - name
                - rating
                - text

        Availability:
            type: object
            additionalProperties:
                type: array
                items:
                    type: string
                    example: '09:00'
            description: Map of date strings (YYYY-MM-DD) to arrays of available time slots.

        CalendarMeta:
            type: object
            properties:
                source:
                    type: string
                    description: Data source for availability resolution.
                    enum: [google, store, fallback, configured, empty]
                mode:
                    type: string
                    description: Calendar operation mode.
                    enum: [live, blocked]
                timezone:
                    type: string
                    example: America/Guayaquil
                doctor:
                    type: string
                    enum: [rosero, narvaez, indiferente]
                service:
                    type: string
                    enum:
                        [
                            consulta,
                            telefono,
                            video,
                            acne,
                            cancer,
                            laser,
                            rejuvenecimiento,
                        ]
                durationMin:
                    type: integer
                generatedAt:
                    type: string
                    format: date-time
            additionalProperties: true

        ApiError:
            type: object
            required: [ok, error]
            properties:
                ok:
                    type: boolean
                    const: false
                error:
                    type: string
                code:
                    type: string
                meta:
                    type: object
                    additionalProperties: true

paths:
    /api.php?resource=health:
        get:
            summary: API Health Check
            description: Returns the health status of the API and storage.
            tags: [System]
            responses:
                '200':
                    description: OK
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    ok:
                                        type: boolean
                                    status:
                                        type: string
                                    storageReady:
                                        type: boolean
                                    timingMs:
                                        type: integer
                                    version:
                                        type: string
                                    dataDirWritable:
                                        type: boolean
                                    dataDirSource:
                                        type: string
                                    storeEncrypted:
                                        type: boolean
                                    figoConfigured:
                                        type: boolean
                                    figoRecursiveConfig:
                                        type: boolean
                                    calendarConfigured:
                                        type: boolean
                                    calendarReachable:
                                        type: boolean
                                    calendarMode:
                                        type: string
                                        enum: [live, blocked]
                                    calendarSource:
                                        type: string
                                        enum: [google, store]
                                    calendarAuth:
                                        type: string
                                        enum:
                                            [
                                                none,
                                                service_account,
                                                oauth_refresh,
                                            ]
                                    calendarLastSuccessAt:
                                        type: string
                                        format: date-time
                                    calendarTokenHealthy:
                                        type: boolean
                                    checks:
                                        type: object
                                        additionalProperties: true
                                    timestamp:
                                        type: string
                                        format: date-time

    /api.php?resource=payment-config:
        get:
            summary: Get Payment Configuration
            description: Returns public Stripe key and currency settings.
            tags: [Payment]
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    ok:
                                        type: boolean
                                    provider:
                                        type: string
                                    enabled:
                                        type: boolean
                                    publishableKey:
                                        type: string
                                    currency:
                                        type: string

    /api.php?resource=availability:
        get:
            summary: Get Availability Slots
            description: Returns availability with provider metadata and service duration.
            tags: [Availability]
            parameters:
                - in: query
                  name: doctor
                  schema:
                      type: string
                      enum: [rosero, narvaez, indiferente]
                - in: query
                  name: service
                  schema:
                      type: string
                      enum:
                          [
                              consulta,
                              telefono,
                              video,
                              acne,
                              cancer,
                              laser,
                              rejuvenecimiento,
                          ]
                - in: query
                  name: dateFrom
                  schema:
                      type: string
                      format: date
                - in: query
                  name: days
                  schema:
                      type: integer
                      minimum: 1
                      maximum: 45
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    ok:
                                        type: boolean
                                    data:
                                        $ref: '#/components/schemas/Availability'
                                    meta:
                                        $ref: '#/components/schemas/CalendarMeta'
                '400':
                    description: Invalid query params.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ApiError'
                '503':
                    description: Calendar upstream unavailable in blocked mode.
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: '#/components/schemas/ApiError'
                                    - type: object
                                      properties:
                                          code:
                                              type: string
                                              enum: [calendar_unreachable]
        post:
            summary: Update Availability
            description: Updates the availability configuration. Requires Admin authentication.
            tags: [Availability, Admin]
            security:
                - cookieAuth: []
                - csrfToken: []
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                availability:
                                    $ref: '#/components/schemas/Availability'
            responses:
                '200':
                    description: Updated successfully
                '403':
                    description: Availability is read-only while Google Calendar mode is enabled.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ApiError'

    /api.php?resource=booked-slots:
        get:
            summary: Get Booked Slots
            description: Returns a list of time slots that are already booked for a specific date and doctor.
            tags: [Appointments]
            parameters:
                - in: query
                  name: date
                  schema:
                      type: string
                      format: date
                  required: true
                - in: query
                  name: doctor
                  schema:
                      type: string
                      enum: [rosero, narvaez, indiferente]
                - in: query
                  name: service
                  schema:
                      type: string
                      enum:
                          [
                              consulta,
                              telefono,
                              video,
                              acne,
                              cancer,
                              laser,
                              rejuvenecimiento,
                          ]
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    ok:
                                        type: boolean
                                    data:
                                        type: array
                                        items:
                                            type: string
                                    meta:
                                        $ref: '#/components/schemas/CalendarMeta'
                '400':
                    description: Invalid query params.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ApiError'
                '503':
                    description: Calendar upstream unavailable in blocked mode.
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: '#/components/schemas/ApiError'
                                    - type: object
                                      properties:
                                          code:
                                              type: string
                                              enum: [calendar_unreachable]

    /api.php?resource=reviews:
        get:
            summary: Get Reviews
            description: Returns a list of patient reviews.
            tags: [Reviews]
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    ok:
                                        type: boolean
                                    data:
                                        type: array
                                        items:
                                            $ref: '#/components/schemas/Review'
        post:
            summary: Submit Review
            description: Submit a new review.
            tags: [Reviews]
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Review'
            responses:
                '201':
                    description: Created

    /api.php?resource=appointments:
        get:
            summary: Get All Appointments
            description: Returns all appointments. Requires Admin authentication.
            tags: [Appointments, Admin]
            security:
                - cookieAuth: []
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    ok:
                                        type: boolean
                                    data:
                                        type: array
                                        items:
                                            $ref: '#/components/schemas/Appointment'
        post:
            summary: Create Appointment
            description: Book a new appointment.
            tags: [Appointments]
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Appointment'
            responses:
                '201':
                    description: Created
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    ok:
                                        type: boolean
                                    data:
                                        $ref: '#/components/schemas/Appointment'
                                    emailSent:
                                        type: boolean
                '400':
                    description: Validation error.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ApiError'
                '409':
                    description: Slot conflict.
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: '#/components/schemas/ApiError'
                                    - type: object
                                      properties:
                                          code:
                                              type: string
                                              enum: [slot_conflict]
                '503':
                    description: Google/store unavailable in blocked mode.
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: '#/components/schemas/ApiError'
                                    - type: object
                                      properties:
                                          code:
                                              type: string
                                              enum:
                                                  [
                                                      calendar_unreachable,
                                                      booking_store_failed,
                                                      slot_lock_failed,
                                                  ]
        patch:
            summary: Update Appointment
            description: Update an existing appointment. Requires Admin authentication.
            tags: [Appointments, Admin]
            security:
                - cookieAuth: []
                - csrfToken: []
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                id:
                                    type: integer
                                status:
                                    type: string
                                paymentStatus:
                                    type: string
            responses:
                '200':
                    description: Updated
                '404':
                    description: Appointment not found.

    /api.php?resource=callbacks:
        get:
            summary: Get Callbacks
            description: Returns all callback requests. Requires Admin authentication.
            tags: [Callbacks, Admin]
            security:
                - cookieAuth: []
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    ok:
                                        type: boolean
                                    data:
                                        type: array
                                        items:
                                            $ref: '#/components/schemas/Callback'
        post:
            summary: Request Callback
            description: Request a callback from the clinic.
            tags: [Callbacks]
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Callback'
            responses:
                '201':
                    description: Created
        patch:
            summary: Update Callback
            description: Update callback status. Requires Admin authentication.
            tags: [Callbacks, Admin]
            security:
                - cookieAuth: []
                - csrfToken: []
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                id:
                                    type: integer
                                status:
                                    type: string
            responses:
                '200':
                    description: Updated

    /api.php?resource=funnel-event:
        post:
            summary: Record Funnel Event
            description: Tracks conversion funnel and chat interaction events.
            tags: [Analytics]
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required: [event]
                            properties:
                                event:
                                    type: string
                                    enum:
                                        [
                                            view_booking,
                                            start_checkout,
                                            payment_method_selected,
                                            payment_success,
                                            booking_confirmed,
                                            checkout_abandon,
                                            booking_step_completed,
                                            booking_error,
                                            checkout_error,
                                            chat_started,
                                            chat_handoff_whatsapp,
                                            whatsapp_click,
                                        ]
                                source:
                                    type: string
                                params:
                                    type: object
                                    additionalProperties: true
            responses:
                '202':
                    description: Event accepted.
                '400':
                    description: Invalid event payload.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ApiError'

    /api.php?resource=funnel-metrics:
        get:
            summary: Get Funnel Metrics
            description: Returns aggregated funnel and retention metrics for admin dashboard.
            tags: [Analytics, Admin]
            security:
                - cookieAuth: []
            responses:
                '200':
                    description: Metrics snapshot.
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    ok:
                                        type: boolean
                                    data:
                                        type: object
                                        additionalProperties: true

    /api.php?resource=retention-report:
        get:
            summary: Get Retention Report
            description: Returns daily no-show/retention report in JSON or CSV format for admin operations.
            tags: [Analytics, Admin]
            security:
                - cookieAuth: []
            parameters:
                - in: query
                  name: dateFrom
                  schema:
                      type: string
                      format: date
                  description: Start date (YYYY-MM-DD), inclusive.
                - in: query
                  name: dateTo
                  schema:
                      type: string
                      format: date
                  description: End date (YYYY-MM-DD), inclusive.
                - in: query
                  name: days
                  schema:
                      type: integer
                      minimum: 1
                      maximum: 120
                  description: Used when dateFrom is omitted. Default 30.
                - in: query
                  name: doctor
                  schema:
                      type: string
                  description: Optional doctor filter.
                - in: query
                  name: service
                  schema:
                      type: string
                  description: Optional service filter.
                - in: query
                  name: format
                  schema:
                      type: string
                      enum: [json, csv]
                      default: json
                  description: Response format.
            responses:
                '200':
                    description: Retention report generated.
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    ok:
                                        type: boolean
                                    data:
                                        type: object
                                        additionalProperties: true
                        text/csv:
                            schema:
                                type: string
                                description: CSV export with daily rows and TOTAL summary row.
                '400':
                    description: Invalid query parameters.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ApiError'

    /api.php?resource=payment-intent:
        post:
            summary: Create Payment Intent
            description: Create a Stripe Payment Intent for an appointment.
            tags: [Payment]
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/Appointment'
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    ok:
                                        type: boolean
                                    clientSecret:
                                        type: string
                                    paymentIntentId:
                                        type: string
                                    amount:
                                        type: integer
                                    currency:
                                        type: string
                                    publishableKey:
                                        type: string
                '400':
                    description: Validation error.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ApiError'
                '409':
                    description: Slot conflict.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ApiError'
                '503':
                    description: Payment gateway or calendar unavailable.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ApiError'

    /api.php?resource=payment-verify:
        post:
            summary: Verify Payment
            description: Verify the status of a Payment Intent.
            tags: [Payment]
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                paymentIntentId:
                                    type: string
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    ok:
                                        type: boolean
                                    paid:
                                        type: boolean
                                    status:
                                        type: string
                                    id:
                                        type: string
                                    amount:
                                        type: integer
                                    amountReceived:
                                        type: integer
                                    currency:
                                        type: string

    /api.php?resource=transfer-proof:
        post:
            summary: Upload Transfer Proof
            description: |
                Upload a legacy staged file used by the current frontend.

                In telemedicine flows the backend later reclassifies the staged
                file as `case_photo` or `payment_proof` without changing the
                public request contract.
            tags: [Payment]
            requestBody:
                content:
                    multipart/form-data:
                        schema:
                            type: object
                            properties:
                                proof:
                                    type: string
                                    format: binary
            responses:
                '201':
                    description: Uploaded
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    ok:
                                        type: boolean
                                    data:
                                        type: object
                                        properties:
                                            transferProofUrl:
                                                type: string
                                            transferProofUploadId:
                                                type: integer

    /api.php?resource=stripe-webhook:
        post:
            summary: Stripe Webhook
            description: Endpoint for Stripe webhook events.
            tags: [Payment]
            requestBody:
                content:
                    application/json:
                        schema:
                            type: object
            responses:
                '200':
                    description: Received

    /api.php?resource=reschedule:
        get:
            summary: Get Reschedule Info
            description: Get appointment details by reschedule token.
            tags: [Appointments]
            parameters:
                - in: query
                  name: token
                  schema:
                      type: string
                  required: true
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    ok:
                                        type: boolean
                                    data:
                                        type: object
                                        properties:
                                            id:
                                                type: integer
                                            service:
                                                type: string
                                            doctor:
                                                type: string
                                            date:
                                                type: string
                                                format: date
                                            time:
                                                type: string
                                            name:
                                                type: string
                                            status:
                                                type: string
                '400':
                    description: Invalid token.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ApiError'
                '404':
                    description: Appointment not found or cancelled.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ApiError'
        patch:
            summary: Reschedule Appointment
            description: Reschedule an appointment using a token.
            tags: [Appointments]
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                token:
                                    type: string
                                date:
                                    type: string
                                    format: date
                                time:
                                    type: string
            responses:
                '200':
                    description: Success
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    ok:
                                        type: boolean
                                    data:
                                        type: object
                                        properties:
                                            id:
                                                type: integer
                                            date:
                                                type: string
                                                format: date
                                            time:
                                                type: string
                                            doctor:
                                                type: string
                                            doctorAssigned:
                                                type: string
                                            calendarProvider:
                                                type: string
                                            calendarId:
                                                type: string
                                            calendarEventId:
                                                type: string
                                            slotDurationMin:
                                                type: integer
                '400':
                    description: Invalid request payload.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/ApiError'
                '409':
                    description: Slot conflict.
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: '#/components/schemas/ApiError'
                                    - type: object
                                      properties:
                                          code:
                                              type: string
                                              enum: [slot_conflict]
                '503':
                    description: Calendar/store unavailable in blocked mode.
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: '#/components/schemas/ApiError'
                                    - type: object
                                      properties:
                                          code:
                                              type: string
                                              enum:
                                                  [
                                                      calendar_unreachable,
                                                      reschedule_store_failed,
                                                      slot_lock_failed,
                                                  ]

    /api.php?resource=data:
        get:
            summary: Get All Data
            description: Dump of the entire data store. Requires Admin authentication.
            tags: [System, Admin]
            security:
                - cookieAuth: []
            responses:
                '200':
                    description: Success

    /api.php?resource=import:
        post:
            summary: Import Data
            description: Import data into the store. Requires Admin authentication.
            tags: [System, Admin]
            security:
                - cookieAuth: []
                - csrfToken: []
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                appointments:
                                    type: array
                                callbacks:
                                    type: array
                                reviews:
                                    type: array
                                availability:
                                    $ref: '#/components/schemas/Availability'
            responses:
                '200':
                    description: Success
